IPy==0.75
JPype1==0.6.3
ProDy==1.9.4
SSSDConfig==1.13.4
backports.ssl-match-hostname==3.4.0.2
biopython==1.71
chardet==2.2.1
configobj==4.7.2
decorator==3.4.0
fail2ban==0.9.3
iniparse==0.4
iotop==0.6
kitchen==1.1.1
lxml==4.2.1
numpy==1.14.2
pandas==0.22.0
patsy==0.5.0
perf==0.1
policycoreutils-default-encoding==0.1
pycurl==7.19.0
pygobject==3.14.0
pygpgme==0.3
pyliblzma==0.5.3
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.4
pyudev==0.15
pyxattr==0.5.1
requests==2.6.0
rpy2==2.8.6
scipy==1.0.1
seobject==0.1
sepolicy==1.1
singledispatch==3.4.0.3
six==1.11.0
slip==0.4.0
slip.dbus==0.4.0
statsmodels==0.8.0
twobitreader==3.1.6
urlgrabber==3.10
urllib3==1.10.2
virtualenv==1.10.1
wsgiref==0.1.2
yum-metadata-parser==1.1.4
